[AdaptiveTransparency]
enabled=true

[ContrastEffect]
contrast=1.1
enabled=true
intensity=0.46
saturation=2.0

[Desktop Entry]
Comment=A dark and modern theme for Plasma 5
Name=Jade_debian
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=Jade_debian
X-KDE-PluginInfo-Version=1.0.5
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0

[Wallpaper]
defaultFileSuffix=.png
defaultHeight=1080
defaultWallpaperTheme=JadeDebian
defaultWidth=1920
